@font-face {
    font-family: 'Norse';
    src: url(fonts/Norse-Bold.otf);
}





/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* ----------------------------------- */

body {
    display: flex;
    
}

.background-section {
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    background-image: url(./img/leaf.jpeg);
    background-size: cover;
}
.site-logo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 25vh;
    padding: 20px;

    color: #f5f5f5;
    background-color: rgb(0, 0, 0, .5)
    
}
.site-logo img {
    height: 100px;
    width: auto;
}
.site-logo h1 {
    font-family: "Norse";
    font-size: 70px;
    padding-top: 24px;
}



.form-section {
    background-color: #f5f5f5;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 100vh;
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 60%;
}
.form-section .form-copy {
    padding: 20px 40px;
    flex: 1;
}
.form-section h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    margin: 20px 0px;
    font-weight: 600;
    line-height: 1.3;
}
.form-section h2 em {
    font-style: italic;
}



.form-section form {
    background-color: #fff ;
    box-shadow: 3px 5px 6px -2px rgba(0,0,0,0.51);
    -webkit-box-shadow: 3px 5px 6px -2px rgba(0,0,0,0.51);
    -moz-box-shadow: 3px 5px 6px -2px rgba(0,0,0,0.51);
    flex: 2;
    padding: 0 40px 40px;
    margin-bottom: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.form-section  form h2 {
    margin: 0;
    padding: 20px 0 10px 0;
}

.form-section form .form-row  {
    flex: 1;
    gap: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 450px;
    flex-wrap: wrap;
    
}

.form-section form .form-row-item {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.form-section form .form-row label {
    font-size: .6rem;
    letter-spacing: .07rem;
    text-transform: uppercase;
    /* font-weight: bold; */
    color: gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    padding: 3px 0;
}
.form-section form .form-row input {
    border: 1px solid #E5E7EB;
    padding: 5px;
    border-radius: 7px;
    /* margin-bottom: 20px; */

}
.form-section form .form-row input:focus {
    border: 2px solid #596D48;
    outline-style: none;
    box-shadow: 3px 5px 6px -2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 3px 5px 6px -2px rgba(0,0,0,0.1);
    -moz-box-shadow: 3px 5px 6px -2px rgba(0,0,0,0.1);
   
}
.form-section form .form-row input[type="password"]:invalid {
    border: 1px solid coral;
}


.form-section .form-section-footer {
    flex: 1;
    margin-left: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.form-section-footer button {
    padding: 10px 40px;
    background-color: #596D48;
    color: #f5f5f5;
    font-weight: 700;

    border-radius: 5px;
    border: none;

    box-shadow: 3px 5px 6px -2px rgba(0,0,0,0.51);
    -webkit-box-shadow: 3px 5px 6px -2px rgba(0,0,0,0.51);
    -moz-box-shadow: 3px 5px 6px -2px rgba(0,0,0,0.51);
    margin-bottom: 20px;
}
.form-section-footer p {
    font-size: .8rem;
}
.form-section-footer a.login {
    color: #596D48;
    text-decoration: none;
}